@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html {
    scroll-behavior: smooth;
}


*{
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: "Roboto Mono", 'Courier New', Courier, monospace;
    background-color: #f5f2e8;
}

h1, h2, h3, h4 {
    font-family: "Platypi", serif;
    color: #f07167;
}

h1 {
    font-size: 2rem;
    color: #fff;
}

h2 {
    color: #f07167;
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
    color: #002f68;
}

header {
    background-color: #002f68;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.assignmentDetails {
    color: #f07167;
}

footer {
    background-color: #002f68;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleDiv {
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: right;
}

a {
    text-decoration: none;
    color: #002f68;
    font-weight: 500;
}

#navLink {
    color: #f5f2e8;
    margin: .3rem;
    padding: .7rem 1.5rem;
    background-color: #002f68;
    border: 2px solid #f5f2e8;
    border-radius: .5rem;
}

#navLink:hover {
    background-color: #f07167;
    border-color: #f07167;
}

section {
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;    
    align-items: left;
    flex-direction: column;
    gap: 3rem;
}

#villefranche {
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

figcaption {
    margin-top: -40px;
}

.sliderButton {
    background-color: #f07167;
    border: none;
    padding: .7rem;
    max-width: 45px;
}

.sliderButton:hover {
    background-color: #002f68;
    cursor: pointer;
}

.sliderButton:active {
    background-color: #785068;
}

p {
    max-width: 100ch;
}

#extLinkCard {
    padding: 2rem;
    border: 2px solid #002f68;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

#extLinkCard:hover {
    background-color: #f0716730;
}

#extLinkCard img {
    max-width: 30px;
}

span {
    width: 100%;
}

#extLinksArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    max-width: 80ch;
}


@media screen and (max-width:768px) {

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 2rem;
    }

    header {
        flex-direction: column;
        gap: 1rem;
        padding: .8rem;
    }

    .titleDiv {
        text-align: center;
    }

    nav {
        justify-content: center;
    }

    #navLink {
        padding: 1rem;
        font-size: .8rem;
    }

    #extLinksArea {
        display: flex;
flex-direction: column;
}

#extLinkCard {
    padding: 1.5rem 1rem;
}

}


@media screen and (max-width:480px) {
    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1.75rem;
    }

    .assignmentDetails {
        font-size: .8rem;
    }

    header {
        gap: .5rem
    }

    nav {
        flex-direction: column;
    }

    #navLink {
        text-align: center;
        padding: .8rem;
    }

    #extLinkCard {
        padding: 1rem;
    }
}